<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Eventual{% endblock %}</title>
    </head>

    <body>
        <div class="wrap">
            <header>
                <h1></h1>
                <nav>
                </nav>
            </header>

            <section>
                {% block content %}

                {% endblock %}
            </section>

            <footer>

            </footer>
        </div>
    </body>
</html>
