{% extends "Eventual::layout_not_logged.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<p class="centered-form">
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
