{% extends "Eventual::layout_not_logged.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<p class="centered-form">{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
